{% extends "_main.jinja" %} {% block title %} Welcome to Markdown blog
{%endblock %} {% block main %} Lorem ipsum dolo lorem ipsum ipsum dolor sit
amet, consecte, lorem ipsumipsum dolor sit amet, consecte, lorem ipsum.or sit
amet, consecte, lorem ipsum.or sit amet, consecte, lorem ipsum.or sit amet,
consecte, lorem ipsum.or sit amet, consecte, lorem ipsum.or sit amet, consecte,
lorem ipsum. {% endblock %}
